**Multivariate Exploratory Data Analysis (EDA)** allows us to understand the relationships between different variables and to identify patterns and trends in the data. In this notebook, we will perform a multivariate EDA on the titanic dataset. We will use the `seaborn` library to create visualizations that will help us understand the relationships between different variables in the dataset.

In [ ]:
#import libraries
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np 

plt.rcParams['figure.figsize'] = (6, 4)
plt.rcParams['figure.dpi'] = 150

In [ ]:
#load data set
titanic=pd.read_csv("./datasets/titanic.csv")
titanic.head()

In [ ]:
titanic.shape

Letâ€™s take a  look at what is the number of records missing in the data set.

In [ ]:
total = titanic.isna().sum().sort_values(ascending=False)
total

In [ ]:
# Count of survived by gender
counts = titanic.groupby(titanic.Gender)[['Survived']].value_counts()
print(counts)

# % of survived by gender
percs = titanic.groupby(titanic.Gender)[['Survived']].value_counts(normalize=True)
print(percs)

summary = pd.concat([counts, percs], axis=1, keys=['count', '%'])
print(summary)

The number of female survival was higher, so gender could be an attribute that contributes to analyzing the survival of a passenger. Let's visualize this information on survival numbers in males and females.

In [ ]:
# Exploratory Data Analysis using seaborn

# Map the values of the "Survived" column to "not_survived" and "survived"
if set(titanic['Survived']).issubset({0, 1}):
    titanic['Survived'] = titanic['Survived'].map({0:"not_survived", 1:"survived"})
    print(titanic['Survived'])

# Create a figure with two subplots
fig, ax = plt.subplots(1, 2, figsize = (7, 6))
fig.tight_layout(pad=3.0)

# Plot the number of passengers by gender in the first subplot
titanic["Gender"].value_counts().plot.bar(color = "skyblue", ax = ax[0])
ax[0].set_title("Number Of Passengers By Gender")
ax[0].set_ylabel("Population")

# Plot the count of survived and non-survived passengers by gender 
# in the second subplot
sns.countplot(data=titanic, x="Gender", hue="Survived", ax = ax[1])
ax[1].set_title("Gender: Survived vs Dead")

Let's visualize the number of survivals from different Pclasses.

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (7, 6))
fig.tight_layout(pad=3.0)

# Plot the number of passengers by Pclass in the first subplot
titanic["Pclass"].value_counts().plot.bar(color = "skyblue", ax = ax[0])
ax[0].set_title("Number Of Passengers By Pclass")
ax[0].set_ylabel("Population")

# Plot the count of survived and dead passengers by Pclass in the second subplot
sns.countplot(data=titanic, x="Pclass", hue="Survived", ax = ax[1])
ax[1].set_title("Pclass: Survived vs Dead")
plt.show()

Looks like the number of passenger in Pclass 3 was high and most of them did not survive. Most of Pclass 1 passengers survived.

In [ ]:
# Fill missing values in the "Embarked" column with "S"
titanic["Embarked"] = titanic["Embarked"].fillna("S")
# Display the updated titanic dataframe
titanic

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (7, 6))
fig.tight_layout(pad=3.0)

# Plot the number of passengers by Embarked in the first subplot
titanic["Embarked"].value_counts().plot.bar(color = "skyblue", ax = ax[0])
ax[0].set_title("Number Of Passengers By Embarked")
ax[0].set_ylabel("Number")

# Plot the count of survived and dead passengers by Embarked in the second subplot
sns.countplot(data=titanic, x="Embarked", hue="Survived", ax = ax[1])
ax[1].set_title("Embarked: Survived vs Unsurvived")

In [ ]:
# Plot the distribution of the "Age" column
# The `dropna()` function is used to remove any missing values (`NaN`) 
# from the 'Age' column before creating the plot. 
# The `kde` parameter is set to `True` to display the Kernel Density Estimate plot.
ax = sns.histplot(titanic['Age'].dropna(), kde=True, color="skyblue")
ax.lines[0].set_color('brown')
plt.title("Distribution of Age")

Now let's do first multivariate analysis into titanic data set with variables Survived, Pclass,Fear and Age.

In [ ]:

sns.set(style="ticks", color_codes=True)
# Pair plot (matrix scatterplot) of few columns
sns.pairplot(titanic,height=2,vars = [ 'Fare','Age','Pclass'], hue="Survived")

**Correlation Matrix**

First map Embarked records with integer values so that we can include Embraked too in our correlation analysis.

In [ ]:
# Map the values of the "Embarked" column to 0, 1, 2, and 3
if set(titanic['Embarked']).issubset({'S', 'C', 'Q', 'NaN'}):
    titanic['Embarked'] = titanic['Embarked'].map({"S":1, "C":2,"Q":2,"NaN":0})
    #print(titanic['Embarked'])

# The `corr()` computes pairwise correlation of numeric columns in the DataFrame
correlation_matrix = titanic.corr(method='pearson', numeric_only='true')
correlation_matrix

**Heatmap**

In [ ]:
# Plots a correlation heatmap for the given dataframe
# Use annot to represent the cell values with text
sns.heatmap(correlation_matrix, cmap='YlOrBr', annot=True, fmt=".1f")
plt.title("Correlation Heatmap")